<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% elsif shop.description != blank %}
      <meta name="description" content="{{ shop.description | escape }}">
    {% else %}
      <meta name="description" content="Pretty good shop">
    {% endif %}

    {% render 'meta-tags' %}
    
    {{ content_for_header }}
    {% comment %} {% include 'css-vars' %} {% endcomment %}
    {% comment %} {{ 'main.css' | asset_url | stylesheet_tag: preload: boolean }} {% endcomment %}
     {{ 'style.css' | asset_url | stylesheet_tag: preload: true }}
  </head>

  <body>

  <header>
        <div class="uk-navbar-container uk-light uk-visible@m tm-toolbar-container">
          <div class="uk-container uk-navbar" uk-navbar="">
            <div class="uk-navbar-left">
              <nav>
                <ul class="uk-navbar-nav">
                  <li><a href="#"><span class="uk-margin-xsmall-right uk-icon" uk-icon="icon: receiver; ratio: .75;"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="receiver"><path fill="none" stroke="#000" stroke-width="1.01" d="M6.189,13.611C8.134,15.525 11.097,18.239 13.867,18.257C16.47,18.275 18.2,16.241 18.2,16.241L14.509,12.551L11.539,13.639L6.189,8.29L7.313,5.355L3.76,1.8C3.76,1.8 1.732,3.537 1.7,6.092C1.667,8.809 4.347,11.738 6.189,13.611"></path></svg></span><span class="tm-pseudo">8 800 799 99 99</span></a></li>
                  <li><a href="contacts.html" onclick="return false"><span class="uk-margin-xsmall-right uk-icon" uk-icon="icon: location; ratio: .75;"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="location"><path fill="none" stroke="#000" stroke-width="1.01" d="M10,0.5 C6.41,0.5 3.5,3.39 3.5,6.98 C3.5,11.83 10,19 10,19 C10,19 16.5,11.83 16.5,6.98 C16.5,3.39 13.59,0.5 10,0.5 L10,0.5 Z"></path><circle fill="none" stroke="#000" cx="10" cy="6.8" r="2.3"></circle></svg></span><span class="tm-pseudo">Store in St. Petersburg</span><span uk-icon="icon: triangle-down; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="triangle-down"><polygon points="5 7 15 7 10 12"></polygon></svg></span></a>
                    <div class="uk-margin-remove uk-drop" uk-drop="mode: click; pos: bottom-center;">
                      <div class="uk-card uk-card-default uk-card-small uk-box-shadow-xlarge uk-overflow-hidden uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom">
                        <figure class="uk-card-media-top uk-height-small js-map" data-latitude="59.9356728" data-longitude="30.3258604" data-zoom="14"><div style="height: 100%; width: 100%;"><div style="overflow: hidden;"></div></div></figure>
                        <div class="uk-card-body">
                          <div class="uk-text-small">
                            <div class="uk-text-bolder">Store Name</div>
                            <div>St.&nbsp;Petersburg, Nevsky&nbsp;Prospect&nbsp;28</div>
                            <div>Daily 10:00–22:00</div>
                          </div>
                          <div class="uk-margin-small"><a class="uk-link-muted uk-text-uppercase tm-link-to-all uk-link-reset" href="contacts.html"><span>contacts</span><span uk-icon="icon: chevron-right; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-navbar-item"><span class="uk-margin-xsmall-right uk-icon" uk-icon="icon: clock; ratio: .75;"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="clock"><circle fill="none" stroke="#000" stroke-width="1.1" cx="10" cy="10" r="9"></circle><rect x="9" y="4" width="1" height="7"></rect><path fill="none" stroke="#000" stroke-width="1.1" d="M13.018,14.197 L9.445,10.625"></path></svg></span>Daily 10:00–22:00
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="uk-navbar-right">
              <nav>
                <ul class="uk-navbar-nav">
                  <li><a href="news.html">News</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="#">Payment</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="uk-navbar-container tm-navbar-container" uk-sticky="cls-active: tm-navbar-container-fixed">
          <div class="uk-container uk-navbar" uk-navbar="">
            <div class="uk-navbar-left">
              <button class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon" uk-toggle="target: #nav-offcanvas" uk-navbar-toggle-icon=""><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></button><a class="uk-navbar-item uk-logo" href="index.html">LOGO</a>
              <nav class="uk-visible@m">
                <ul class="uk-navbar-nav">
                  <li><a href="catalog.html">Catalog<span class="uk-margin-xsmall-left uk-icon" uk-icon="icon: chevron-down; ratio: .75;"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-down"><polyline fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span></a>
                    <div class="uk-navbar-dropdown uk-margin-remove uk-padding-remove-vertical uk-drop" uk-drop="pos: bottom-justify;delay-show: 125;delay-hide: 50;duration: 75;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
                      <div class="uk-container">
                        <ul class="uk-navbar-dropdown-grid uk-child-width-1-5 uk-grid uk-grid-stack" uk-grid="">
                          <li>
                            <div class="uk-margin-top uk-margin-bottom"><a class="uk-link-reset" href="category.html"><img class="uk-display-block uk-margin-auto uk-margin-bottom" src="https://placehold.co/80x80" alt="Laptops &amp; Tablets" width="80" height="80">
                                <div class="uk-text-bolder">Laptops &amp; Tablets</div></a>
                              <ul class="uk-nav uk-nav-default">
                                <li><a href="subcategory.html">Laptops</a></li>
                                <li><a href="subcategory.html">Tablets</a></li>
                                <li><a href="subcategory.html">Peripherals</a></li>
                                <li><a href="subcategory.html">Keyboards</a></li>
                                <li><a href="subcategory.html">Accessories</a></li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="uk-margin-top uk-margin-bottom"><a class="uk-link-reset" href="category.html"><img class="uk-display-block uk-margin-auto uk-margin-bottom" src="https://placehold.co/80x80" alt="Phones &amp; Gadgets" width="80" height="80">
                                <div class="uk-text-bolder">Phones &amp; Gadgets</div></a>
                              <ul class="uk-nav uk-nav-default">
                                <li><a href="subcategory.html">Smartphones</a></li>
                                <li><a href="subcategory.html">Mobile Phones</a></li>
                                <li><a href="subcategory.html">Smart watches</a></li>
                                <li><a href="subcategory.html">Charging and batteries</a></li>
                                <li><a href="subcategory.html">Accessories</a></li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="uk-margin-top uk-margin-bottom"><a class="uk-link-reset" href="category.html"><img class="uk-display-block uk-margin-auto uk-margin-bottom" src="https://placehold.co/80x80" alt="TV &amp; Video" width="80" height="80">
                                <div class="uk-text-bolder">TV &amp; Video</div></a>
                              <ul class="uk-nav uk-nav-default">
                                <li><a href="subcategory.html">TV</a></li>
                                <li><a href="subcategory.html">Home Cinema</a></li>
                                <li><a href="subcategory.html">Satellite &amp; Cable TV</a></li>
                                <li><a href="subcategory.html">Projectors</a></li>
                                <li><a href="subcategory.html">DVD &amp; Blu-ray</a></li>
                                <li><a href="subcategory.html">Accessories</a></li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="uk-margin-top uk-margin-bottom"><a class="uk-link-reset" href="category.html"><img class="uk-display-block uk-margin-auto uk-margin-bottom" src="https://placehold.co/80x80" alt="Games &amp; Entertainment" width="80" height="80">
                                <div class="uk-text-bolder">Games &amp; Entertainment</div></a>
                              <ul class="uk-nav uk-nav-default">
                                <li><a href="subcategory.html">Gaming consoles</a></li>
                                <li><a href="subcategory.html">Games</a></li>
                                <li><a href="subcategory.html">Software</a></li>
                                <li><a href="subcategory.html">Joysticks &amp; gamepads</a></li>
                                <li><a href="subcategory.html">Accessories</a></li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="uk-margin-top uk-margin-bottom"><a class="uk-link-reset" href="category.html"><img class="uk-display-block uk-margin-auto uk-margin-bottom" src="https://placehold.co/80x80" alt="Photo" width="80" height="80">
                                <div class="uk-text-bolder">Photo</div></a>
                              <ul class="uk-nav uk-nav-default">
                                <li><a href="subcategory.html">Cameras</a></li>
                                <li><a href="subcategory.html">Lenses</a></li>
                                <li><a href="subcategory.html">Accessories</a></li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="brands.html">Brands<span class="uk-margin-xsmall-left uk-icon" uk-icon="icon: chevron-down; ratio: .75;"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-down"><polyline fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span></a>
                    <div class="uk-navbar-dropdown uk-margin-remove uk-padding-remove-vertical uk-drop" uk-drop="pos: bottom-justify;delay-show: 125;delay-hide: 50;duration: 75;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
                      <div class="uk-container uk-container-small uk-margin-top uk-margin-bottom">
                        <ul class="uk-grid-small uk-child-width-1-6 uk-grid uk-grid-stack" uk-grid="">
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Apple">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Apple"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Samsung">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Samsung"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Sony">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Sony"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Microsoft">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Microsoft"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Intel">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Intel"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="HP">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="HP"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="LG">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="LG"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Lenovo">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Lenovo"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="ASUS">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="ASUS"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Acer">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Acer"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Dell">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Dell"></figure></a></div>
                          </li>
                          <li>
                            <div class="tm-ratio tm-ratio-4-3"><a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box" href="#" title="Canon">
                                <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Canon"></figure></a></div>
                          </li>
                        </ul>
                        <div class="uk-text-center uk-margin"><a class="uk-link-muted uk-text-uppercase tm-link-to-all" href="brands.html"><span>See all brands</span><span uk-icon="icon: chevron-right; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><a href="#">Pages<span class="uk-margin-xsmall-left uk-icon" uk-icon="icon: chevron-down; ratio: .75;"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-down"><polyline fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span></a>
                    <div class="uk-navbar-dropdown uk-margin-remove uk-padding-remove-vertical uk-drop" uk-drop="pos: bottom-justify;delay-show: 125;delay-hide: 50;duration: 75;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
                      <div class="uk-container uk-container-small uk-margin-top uk-margin-bottom">
                        <ul class="uk-nav uk-nav-default uk-column-1-3">
                          <li><a href="catalog.html">Catalog</a></li>
                          <li><a href="category.html">Category</a></li>
                          <li><a href="subcategory.html">Subcategory</a></li>
                          <li><a href="product.html">Product</a></li>
                          <li><a href="cart.html">Cart</a></li>
                          <li><a href="checkout.html">Checkout</a></li>
                          <li><a href="compare.html">Compare</a></li>
                          <li><a href="brands.html">Brands</a></li>
                          <li><a href="compare.html">Compare</a></li>
                          <li><a href="account.html">Account</a></li>
                          <li><a href="favorites.html">Favorites</a></li>
                          <li><a href="personal.html">Personal</a></li>
                          <li><a href="settings.html">Settings</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="contacts.html">Contacts</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="news.html">News</a></li>
                          <li><a href="article.html">Article</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li><a href="delivery.html">Delivery</a></li>
                          <li><a href="404.html">404</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="blog.html">Blog</a>
                  </li>
                  <li><a href="about.html">About</a>
                  </li>
                  <li><a href="contacts.html">Contacts</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="uk-navbar-right"><a class="uk-navbar-toggle tm-navbar-button uk-search-icon uk-icon" href="#" uk-search-icon=""><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="search-icon"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg></a>
              <div class="uk-navbar-dropdown uk-padding-small uk-margin-remove uk-drop" uk-drop="mode: click;cls-drop: uk-navbar-dropdown;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
                <div class="uk-container">
                  <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                    <div class="uk-width-expand">
                      <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="Search…" autofocus="">
                      </form>
                    </div>
                    <div class="uk-width-auto"><a class="uk-navbar-dropdown-close uk-close uk-icon" href="#" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></a></div>
                  </div>
                </div>
              </div><a class="uk-navbar-item uk-link-muted uk-visible@m tm-navbar-button" href="compare.html"><span uk-icon="copy" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="copy"><rect fill="none" stroke="#000" x="3.5" y="2.5" width="12" height="16"></rect><polyline fill="none" stroke="#000" points="5 0.5 17.5 0.5 17.5 17"></polyline></svg></span><span class="uk-badge">3</span></a><a class="uk-navbar-item uk-link-muted tm-navbar-button uk-icon" href="account.html" uk-icon="user"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="user"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9.9" cy="6.4" r="4.4"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"></path></svg></a>
              <div class="uk-padding-small uk-margin-remove uk-dropdown uk-drop" uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;" style="min-width: 150px;">
                <ul class="uk-nav uk-dropdown-nav">
                  <li><a href="account.html">
                      Orders
                      <span>(2)</span></a></li>
                  <li><a href="favorites.html">
                      Favorites
                      <span>(3)</span></a></li>
                  <li><a href="personal.html">Personal</a></li>
                  <li><a href="settings.html">Settings</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#">Log out</a></li>
                </ul>
              </div><a class="uk-navbar-item uk-link-muted tm-navbar-button" href="cart.html" uk-toggle="target: #cart-offcanvas" onclick="return false"><span uk-icon="cart" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="cart"><circle cx="7.3" cy="17.3" r="1.4"></circle><circle cx="13.3" cy="17.3" r="1.4"></circle><polyline fill="none" stroke="#000" points="0 2 3.2 4 5.3 12.5 16 12.5 18 6.5 8 6.5"></polyline></svg></span><span class="uk-badge">2</span></a>
            </div>
          </div>
        </div>
      </header>

      
      
      
    {% sections 'header-group' %}

    
    <main role="main" tabindex="-1">

    <section class="uk-position-relative uk-visible-toggle uk-light uk-slideshow" uk-slideshow="min-height: 300; max-height: 600;">
          <ul class="uk-slideshow-items" style="min-height: 600px;">
            <li style="background-color: rgb(11, 10, 18); transform: translateX(0px);" class="uk-active uk-transition-active"><a href="#">
                <figure class="uk-container uk-height-1-1"><img src="https://placehold.co/1200x600" alt="New Macbook" width="1200" height="600" uk-cover="" class="uk-cover"></figure></a></li>
            <li style="background-color: #ce071e"><a href="#">
                <figure class="uk-container uk-height-1-1"><img src="https://placehold.co/1200x600" alt="iPhone" width="1200" height="600" uk-cover="" class="uk-cover"></figure></a></li>
            <li style="background-color: #1f2024"><a href="#">
                <figure class="uk-container uk-height-1-1"><img src="https://placehold.co/1200x600" alt="iPad" width="1200" height="600" uk-cover="" class="uk-cover"></figure></a></li>
          </ul><a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-previous uk-icon uk-slidenav" href="#" uk-slideshow-item="previous" uk-slidenav-previous=""><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg" data-svg="slidenav-previous"><polyline fill="none" stroke="#000" stroke-width="1.4" points="12.775,1 1.225,12 12.775,23 "></polyline></svg></a><a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-next uk-icon uk-slidenav" href="#" uk-slideshow-item="next" uk-slidenav-next=""><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg" data-svg="slidenav-next"><polyline fill="none" stroke="#000" stroke-width="1.4" points="1.225,23 12.775,12 1.225,1 "></polyline></svg></a>
          <div class="uk-position-bottom-center uk-position-small">
            <ul class="uk-slideshow-nav uk-dotnav"><li uk-slideshow-item="0" class="uk-active"><a href="#"></a></li><li uk-slideshow-item="1"><a href="#"></a></li><li uk-slideshow-item="2"><a href="#"></a></li></ul>
          </div>
        </section>

      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}


    <section class="uk-section uk-section-default uk-section-small">
          <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@s uk-grid" uk-grid="">
              <section class="uk-first-column">
                <h2 class="uk-text-center uk-text-left@s">About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at neque vulputate, vestibulum magna in, accumsan urna. Nulla feugiat ipsum ex, molestie porttitor nibh faucibus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit lorem ut finibus semper. Donec ac vehicula erat, nec consequat massa.</p>
                <p>Quisque rhoncus fermentum sapien id congue. Nam at rutrum turpis. Aliquam sagittis imperdiet tortor vel dignissim. Ut ipsum nunc, egestas et odio id, vestibulum posuere orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <div class="uk-text-center uk-text-left@s"><a class="uk-link-muted uk-text-uppercase tm-link-to-all" href="about.html"><span>read more</span><span uk-icon="icon: chevron-right; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                </div>
              </section>
              <section>
                <h2 class="uk-text-center uk-text-left@s">Latest News</h2>
                <ul class="uk-list uk-list-small uk-list-divider">
                  <li>
                    <article class="uk-article">
                      <div class="uk-article-body">
                        <div class="uk-article-meta uk-margin-xsmall-bottom">
                          <time>June 4, 2018</time>
                        </div>
                        <h3 class="uk-h4 uk-margin-remove"><a class="uk-link-heading" href="article.html">Highlights from WWDC</a></h3>
                        <div class="uk-margin-xsmall-top uk-text-small"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p></div>
                      </div>
                    </article>
                  </li>
                  <li>
                    <article class="uk-article">
                      <div class="uk-article-body">
                        <div class="uk-article-meta uk-margin-xsmall-bottom">
                          <time>June 4, 2018</time>
                        </div>
                        <h3 class="uk-h4 uk-margin-remove"><a class="uk-link-heading" href="article.html">Apple introduces macOS Mojave</a></h3>
                        <div class="uk-margin-xsmall-top uk-text-small"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p></div>
                      </div>
                    </article>
                  </li>
                  <li>
                    <article class="uk-article">
                      <div class="uk-article-body">
                        <div class="uk-article-meta uk-margin-xsmall-bottom">
                          <time>May 29, 2018</time>
                        </div>
                        <h3 class="uk-h4 uk-margin-remove"><a class="uk-link-heading" href="article.html">iOS 11.4 brings stereo pairs and multi-room audio with AirPlay 2</a></h3>
                        <div class="uk-margin-xsmall-top uk-text-small"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p></div>
                      </div>
                    </article>
                  </li>
                </ul>
                <div class="uk-margin uk-text-center uk-text-left@s"><a class="uk-link-muted uk-text-uppercase tm-link-to-all" href="news.html"><span>see all news</span><span uk-icon="icon: chevron-right; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                </div>
              </section>
            </div>
          </div>
        </section>

        <section class="uk-section uk-section-small">
          <div class="uk-container">
            <h2 class="uk-text-center">Blog</h2>
            <div class="uk-grid-medium uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-grid" uk-grid="">
              <div class="uk-first-column"><a href="article.html">
                  <article class="uk-card uk-card-default uk-card-small uk-article uk-overflow-hidden uk-box-shadow-hover-large uk-height-1-1 tm-ignore-container">
                    <div class="tm-ratio tm-ratio-16-9">
                      <figure class="tm-media-box uk-cover-container uk-margin-remove"><img src="https://placehold.co/679x330" alt="Everything You Need to Know About the MacBook Pro" uk-cover="uk-cover" class="uk-cover" style="height: 391px; width: 586px;"></figure>
                    </div>
                    <div class="uk-card-body">
                      <div class="uk-article-body">
                        <div class="uk-article-meta uk-margin-xsmall-bottom">
                          <time>May 21, 2018</time>
                        </div>
                        <div>
                          <h3 class="uk-margin-remove">Everything You Need to Know About the MacBook Pro</h3>
                        </div>
                        <div class="uk-margin-small-top"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p></div>
                      </div>
                    </div>
                  </article></a>
              </div>
              <div><a href="article.html">
                  <article class="uk-card uk-card-default uk-card-small uk-article uk-overflow-hidden uk-box-shadow-hover-large uk-height-1-1 tm-ignore-container">
                    <div class="tm-ratio tm-ratio-16-9">
                      <figure class="tm-media-box uk-cover-container uk-margin-remove"><img src="https://placehold.co/679x330" alt="Apple introduces macOS Mojave" uk-cover="uk-cover" class="uk-cover" style="width: 679px; height: 330px;"></figure>
                    </div>
                    <div class="uk-card-body">
                      <div class="uk-article-body">
                        <div class="uk-article-meta uk-margin-xsmall-bottom">
                          <time>May 21, 2018</time>
                        </div>
                        <div>
                          <h3 class="uk-margin-remove">Apple introduces macOS Mojave</h3>
                        </div>
                        <div class="uk-margin-small-top"><p>Praesent consequat justo eu massa malesuada posuere. Donec ultricies tincidunt nisl, sed euismod nulla venenatis maximus. Maecenas sit amet semper tellus. Pellentesque imperdiet finibus sapien, a consectetur eros auctor a.</p></div>
                      </div>
                    </div>
                  </article></a>
              </div>
            </div>
            <div class="uk-margin uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all" href="blog.html"><span>see all articles</span><span uk-icon="icon: chevron-right; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
            </div>
          </div>
        </section>

    <section class="uk-section uk-section-primary uk-section-small uk-light">
          <div class="uk-container">
            <div class="uk-text-center">
              <div class="uk-h2 uk-margin-remove">Subscribe for updates</div>
              <div>Be aware of new products and special offers.</div>
            </div>
            <div class="uk-margin">
              <form>
                <div class="uk-grid-small uk-flex-center uk-grid" uk-grid="">
                  <div class="uk-width-1-1 uk-width-medium@s uk-first-column">
                    <div class="uk-inline uk-width-1-1"><span class="uk-form-icon uk-icon" uk-icon="mail"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="mail"><polyline fill="none" stroke="#000" points="1.4,6.5 10,11 18.6,6.5"></polyline><path d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z"></path></svg></span>
                      <input class="uk-input" type="email" placeholder="Your email" required="">
                    </div>
                  </div>
                  <div>
                    <button class="uk-button uk-button-primary">subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>

    <footer>
        <section class="uk-section uk-section-secondary uk-section-small uk-light">
          <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-4@m uk-grid" uk-grid="">
              <div class="uk-first-column"><a class="uk-logo" href="index.html"><img src="images/logo-inverse.svg" width="90" height="32" alt="Logo"></a>
                <p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut mauris eros. Nulla quis ante sed tortor efficitur facilisis.</p>
                <ul class="uk-iconnav">
                  <li><a href="#" title="Facebook" uk-icon="facebook" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="facebook"><path d="M11,10h2.6l0.4-3H11V5.3c0-0.9,0.2-1.5,1.5-1.5H14V1.1c-0.3,0-1-0.1-2.1-0.1C9.6,1,8,2.4,8,5v2H5.5v3H8v8h3V10z"></path></svg></a></li>
                  <li><a href="#" title="Twitter" uk-icon="twitter" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="twitter"><path d="M19,4.74 C18.339,5.029 17.626,5.229 16.881,5.32 C17.644,4.86 18.227,4.139 18.503,3.28 C17.79,3.7 17.001,4.009 16.159,4.17 C15.485,3.45 14.526,3 13.464,3 C11.423,3 9.771,4.66 9.771,6.7 C9.771,6.99 9.804,7.269 9.868,7.539 C6.795,7.38 4.076,5.919 2.254,3.679 C1.936,4.219 1.754,4.86 1.754,5.539 C1.754,6.82 2.405,7.95 3.397,8.61 C2.79,8.589 2.22,8.429 1.723,8.149 L1.723,8.189 C1.723,9.978 2.997,11.478 4.686,11.82 C4.376,11.899 4.049,11.939 3.713,11.939 C3.475,11.939 3.245,11.919 3.018,11.88 C3.49,13.349 4.852,14.419 6.469,14.449 C5.205,15.429 3.612,16.019 1.882,16.019 C1.583,16.019 1.29,16.009 1,15.969 C2.635,17.019 4.576,17.629 6.662,17.629 C13.454,17.629 17.17,12 17.17,7.129 C17.17,6.969 17.166,6.809 17.157,6.649 C17.879,6.129 18.504,5.478 19,4.74"></path></svg></a></li>
                  <li><a href="#" title="YouTube" uk-icon="youtube" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="youtube"><path d="M15,4.1c1,0.1,2.3,0,3,0.8c0.8,0.8,0.9,2.1,0.9,3.1C19,9.2,19,10.9,19,12c-0.1,1.1,0,2.4-0.5,3.4c-0.5,1.1-1.4,1.5-2.5,1.6 c-1.2,0.1-8.6,0.1-11,0c-1.1-0.1-2.4-0.1-3.2-1c-0.7-0.8-0.7-2-0.8-3C1,11.8,1,10.1,1,8.9c0-1.1,0-2.4,0.5-3.4C2,4.5,3,4.3,4.1,4.2 C5.3,4.1,12.6,4,15,4.1z M8,7.5v6l5.5-3L8,7.5z"></path></svg></a></li>
                  <li><a href="#" title="Instagram" uk-icon="instagram" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="instagram"><path d="M13.55,1H6.46C3.45,1,1,3.44,1,6.44v7.12c0,3,2.45,5.44,5.46,5.44h7.08c3.02,0,5.46-2.44,5.46-5.44V6.44 C19.01,3.44,16.56,1,13.55,1z M17.5,14c0,1.93-1.57,3.5-3.5,3.5H6c-1.93,0-3.5-1.57-3.5-3.5V6c0-1.93,1.57-3.5,3.5-3.5h8 c1.93,0,3.5,1.57,3.5,3.5V14z"></path><circle cx="14.87" cy="5.26" r="1.09"></circle><path d="M10.03,5.45c-2.55,0-4.63,2.06-4.63,4.6c0,2.55,2.07,4.61,4.63,4.61c2.56,0,4.63-2.061,4.63-4.61 C14.65,7.51,12.58,5.45,10.03,5.45L10.03,5.45L10.03,5.45z M10.08,13c-1.66,0-3-1.34-3-2.99c0-1.65,1.34-2.99,3-2.99s3,1.34,3,2.99 C13.08,11.66,11.74,13,10.08,13L10.08,13L10.08,13z"></path></svg></a></li>
                </ul>
              </div>
              <div>
                <nav class="uk-grid-small uk-child-width-1-2 uk-grid" uk-grid="">
                  <div class="uk-first-column">
                    <ul class="uk-nav uk-nav-default">
                      <li><a href="catalog.html">Catalog</a></li>
                      <li><a href="brands.html">Brands</a></li>
                      <li><a href="delivery.html">Delivery</a></li>
                      <li><a href="faq.html">FAQ</a></li>
                      <li><a href="#">Payment</a></li>
                    </ul>
                  </div>
                  <div>
                    <ul class="uk-nav uk-nav-default">
                      <li><a href="about.html">About</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="news.html">News</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div>
                <ul class="uk-list uk-text-small">
                  <li><a class="uk-link-muted" href="#"><span class="uk-margin-small-right uk-icon" uk-icon="receiver"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="receiver"><path fill="none" stroke="#000" stroke-width="1.01" d="M6.189,13.611C8.134,15.525 11.097,18.239 13.867,18.257C16.47,18.275 18.2,16.241 18.2,16.241L14.509,12.551L11.539,13.639L6.189,8.29L7.313,5.355L3.76,1.8C3.76,1.8 1.732,3.537 1.7,6.092C1.667,8.809 4.347,11.738 6.189,13.611"></path></svg></span><span class="tm-pseudo">8 800 799 99 99</span></a></li>
                  <li><a class="uk-link-muted" href="#"><span class="uk-margin-small-right uk-icon" uk-icon="mail"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="mail"><polyline fill="none" stroke="#000" points="1.4,6.5 10,11 18.6,6.5"></polyline><path d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z"></path></svg></span><span class="tm-pseudo">example@example.com</span></a></li>
                  <li>
                    <div class="uk-text-muted"><span class="uk-margin-small-right uk-icon" uk-icon="location"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="location"><path fill="none" stroke="#000" stroke-width="1.01" d="M10,0.5 C6.41,0.5 3.5,3.39 3.5,6.98 C3.5,11.83 10,19 10,19 C10,19 16.5,11.83 16.5,6.98 C16.5,3.39 13.59,0.5 10,0.5 L10,0.5 Z"></path><circle fill="none" stroke="#000" cx="10" cy="6.8" r="2.3"></circle></svg></span><span>St.&nbsp;Petersburg, Nevsky&nbsp;Prospect&nbsp;28</span>
                    </div>
                  </li>
                  <li>
                    <div class="uk-text-muted"><span class="uk-margin-small-right uk-icon" uk-icon="clock"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="clock"><circle fill="none" stroke="#000" stroke-width="1.1" cx="10" cy="10" r="9"></circle><rect x="9" y="4" width="1" height="7"></rect><path fill="none" stroke="#000" stroke-width="1.1" d="M13.018,14.197 L9.445,10.625"></path></svg></span><span>Daily 10:00–22:00</span>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <form class="uk-form-stacked">
                  <label>
                    <div class="uk-form-label uk-text-muted">Subscribe for updates</div>
                    <div class="uk-inline uk-width-1-1"><a class="uk-form-icon uk-form-icon-flip uk-icon" href="#" uk-icon="mail"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="mail"><polyline fill="none" stroke="#000" points="1.4,6.5 10,11 18.6,6.5"></polyline><path d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z"></path></svg></a>
                      <input class="uk-input" type="email" placeholder="Your email" required="">
                    </div>
                  </label>
                </form>
                <div class="uk-margin uk-text-small uk-text-muted">Shopping Categories icons by Jaro Sigrist from Noun Project</div>
              </div>
            </div>
          </div>
        </section>
      </footer>


      <div id="nav-offcanvas" uk-offcanvas="overlay: true" class="uk-offcanvas">
        <aside class="uk-offcanvas-bar uk-padding-remove">
          <div class="uk-card uk-card-default uk-card-small tm-shadow-remove">
            <header class="uk-card-header uk-flex uk-flex-middle">
              <div><a class="uk-link-muted uk-text-bold" href="#">8 800 799 99 99</a>
                <div class="uk-text-xsmall uk-text-muted" style="margin-top: -2px;">
                  <div>St.&nbsp;Petersburg, Nevsky&nbsp;Prospect&nbsp;28</div>
                  <div>Daily 10:00–22:00</div>
                </div>
              </div>
            </header>
            <nav class="uk-card-small uk-card-body">
              <ul class="uk-nav-default uk-nav-parent-icon uk-list-divider uk-nav" uk-nav="">
                <li class="uk-parent"><a href="catalog.html">Catalog</a>
                  <ul class="uk-nav-sub uk-list-divider" hidden="" aria-hidden="true">
                    <li><a href="subcategory.html">Laptops &amp; Tablets</a></li>
                    <li><a href="subcategory.html">Phones &amp; Gadgets</a></li>
                    <li><a href="subcategory.html">TV &amp; Video</a></li>
                    <li><a href="subcategory.html">Games &amp; Entertainment</a></li>
                    <li><a href="subcategory.html">Photo</a></li>
                    <li class="uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all" href="catalog.html"><span>see all categories</span><span uk-icon="icon: chevron-right; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                    </li>
                  </ul>
                </li>
                <li class="uk-parent"><a href="brands.html">Brands</a>
                  <ul class="uk-nav-sub uk-list-divider" hidden="" aria-hidden="true">
                    <li><a href="subcategory.html">Apple</a></li>
                    <li><a href="subcategory.html">Samsung</a></li>
                    <li><a href="subcategory.html">Sony</a></li>
                    <li><a href="subcategory.html">Microsoft</a></li>
                    <li><a href="subcategory.html">Intel</a></li>
                    <li><a href="subcategory.html">HP</a></li>
                    <li><a href="subcategory.html">LG</a></li>
                    <li><a href="subcategory.html">Lenovo</a></li>
                    <li><a href="subcategory.html">ASUS</a></li>
                    <li><a href="subcategory.html">Acer</a></li>
                    <li><a href="subcategory.html">Dell</a></li>
                    <li><a href="subcategory.html">Canon</a></li>
                    <li class="uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all" href="brands.html"><span>see all brands</span><span uk-icon="icon: chevron-right; ratio: .75;" class="uk-icon"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                    </li>
                  </ul>
                </li>
                <li class="uk-parent"><a href="#">Pages</a>
                  <ul class="uk-nav-sub uk-list-divider" hidden="" aria-hidden="true">
                    <li><a href="subcategory.html">Catalog</a></li>
                    <li><a href="subcategory.html">Category</a></li>
                    <li><a href="subcategory.html">Subcategory</a></li>
                    <li><a href="subcategory.html">Product</a></li>
                    <li><a href="subcategory.html">Cart</a></li>
                    <li><a href="subcategory.html">Checkout</a></li>
                    <li><a href="subcategory.html">Compare</a></li>
                    <li><a href="subcategory.html">Brands</a></li>
                    <li><a href="subcategory.html">Compare</a></li>
                    <li><a href="subcategory.html">Account</a></li>
                    <li><a href="subcategory.html">Favorites</a></li>
                    <li><a href="subcategory.html">Personal</a></li>
                    <li><a href="subcategory.html">Settings</a></li>
                    <li><a href="subcategory.html">About</a></li>
                    <li><a href="subcategory.html">Contacts</a></li>
                    <li><a href="subcategory.html">Blog</a></li>
                    <li><a href="subcategory.html">News</a></li>
                    <li><a href="subcategory.html">Article</a></li>
                    <li><a href="subcategory.html">FAQ</a></li>
                    <li><a href="subcategory.html">Delivery</a></li>
                    <li><a href="subcategory.html">404</a></li>
                  </ul>
                </li>
                <li><a href="blog.html">Blog</a>
                </li>
                <li><a href="about.html">About</a>
                </li>
                <li><a href="contacts.html">Contacts</a>
                </li>
                <li><a href="compare.html">Compare<span class="uk-badge uk-margin-xsmall-left">3</span></a></li>
              </ul>
            </nav>
            <nav class="uk-card-small uk-card-body">
              <ul class="uk-nav uk-nav-default">
                <li><a href="news.html">News</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="#">Payment</a></li>
              </ul>
            </nav>
            <nav class="uk-card-body">
              <ul class="uk-iconnav uk-flex-center">
                <li><a href="#" title="Facebook" uk-icon="facebook" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="facebook"><path d="M11,10h2.6l0.4-3H11V5.3c0-0.9,0.2-1.5,1.5-1.5H14V1.1c-0.3,0-1-0.1-2.1-0.1C9.6,1,8,2.4,8,5v2H5.5v3H8v8h3V10z"></path></svg></a></li>
                <li><a href="#" title="Twitter" uk-icon="twitter" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="twitter"><path d="M19,4.74 C18.339,5.029 17.626,5.229 16.881,5.32 C17.644,4.86 18.227,4.139 18.503,3.28 C17.79,3.7 17.001,4.009 16.159,4.17 C15.485,3.45 14.526,3 13.464,3 C11.423,3 9.771,4.66 9.771,6.7 C9.771,6.99 9.804,7.269 9.868,7.539 C6.795,7.38 4.076,5.919 2.254,3.679 C1.936,4.219 1.754,4.86 1.754,5.539 C1.754,6.82 2.405,7.95 3.397,8.61 C2.79,8.589 2.22,8.429 1.723,8.149 L1.723,8.189 C1.723,9.978 2.997,11.478 4.686,11.82 C4.376,11.899 4.049,11.939 3.713,11.939 C3.475,11.939 3.245,11.919 3.018,11.88 C3.49,13.349 4.852,14.419 6.469,14.449 C5.205,15.429 3.612,16.019 1.882,16.019 C1.583,16.019 1.29,16.009 1,15.969 C2.635,17.019 4.576,17.629 6.662,17.629 C13.454,17.629 17.17,12 17.17,7.129 C17.17,6.969 17.166,6.809 17.157,6.649 C17.879,6.129 18.504,5.478 19,4.74"></path></svg></a></li>
                <li><a href="#" title="YouTube" uk-icon="youtube" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="youtube"><path d="M15,4.1c1,0.1,2.3,0,3,0.8c0.8,0.8,0.9,2.1,0.9,3.1C19,9.2,19,10.9,19,12c-0.1,1.1,0,2.4-0.5,3.4c-0.5,1.1-1.4,1.5-2.5,1.6 c-1.2,0.1-8.6,0.1-11,0c-1.1-0.1-2.4-0.1-3.2-1c-0.7-0.8-0.7-2-0.8-3C1,11.8,1,10.1,1,8.9c0-1.1,0-2.4,0.5-3.4C2,4.5,3,4.3,4.1,4.2 C5.3,4.1,12.6,4,15,4.1z M8,7.5v6l5.5-3L8,7.5z"></path></svg></a></li>
                <li><a href="#" title="Instagram" uk-icon="instagram" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="instagram"><path d="M13.55,1H6.46C3.45,1,1,3.44,1,6.44v7.12c0,3,2.45,5.44,5.46,5.44h7.08c3.02,0,5.46-2.44,5.46-5.44V6.44 C19.01,3.44,16.56,1,13.55,1z M17.5,14c0,1.93-1.57,3.5-3.5,3.5H6c-1.93,0-3.5-1.57-3.5-3.5V6c0-1.93,1.57-3.5,3.5-3.5h8 c1.93,0,3.5,1.57,3.5,3.5V14z"></path><circle cx="14.87" cy="5.26" r="1.09"></circle><path d="M10.03,5.45c-2.55,0-4.63,2.06-4.63,4.6c0,2.55,2.07,4.61,4.63,4.61c2.56,0,4.63-2.061,4.63-4.61 C14.65,7.51,12.58,5.45,10.03,5.45L10.03,5.45L10.03,5.45z M10.08,13c-1.66,0-3-1.34-3-2.99c0-1.65,1.34-2.99,3-2.99s3,1.34,3,2.99 C13.08,11.66,11.74,13,10.08,13L10.08,13L10.08,13z"></path></svg></a></li>
              </ul>
            </nav>
          </div>
        </aside>
      </div>

      <div id="cart-offcanvas" uk-offcanvas="overlay: true; flip: true" class="uk-offcanvas" style="">
        <aside class="uk-offcanvas-bar uk-padding-remove">
          <div class="uk-card uk-card-default uk-card-small uk-height-1-1 uk-flex uk-flex-column tm-shadow-remove">
            <header class="uk-card-header uk-flex uk-flex-middle">
              <div class="uk-grid-small uk-flex-1 uk-grid" uk-grid="">
                <div class="uk-width-expand uk-first-column">
                  <div class="uk-h3">Cart</div>
                </div>
                <button class="uk-offcanvas-close uk-close uk-icon" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
              </div>
            </header>
            <div class="uk-card-body uk-overflow-auto">
              <ul class="uk-list uk-list-divider">
                <li class="uk-visible-toggle">
                  <arttcle>
                    <div class="uk-grid-small uk-grid" uk-grid="">
                      <div class="uk-width-1-4 uk-first-column">
                        <div class="tm-ratio tm-ratio-4-3"><a class="tm-media-box" href="product.html">
                            <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                            </figure></a></div>
                      </div>
                      <div class="uk-width-expand">
                        <div class="uk-text-meta uk-text-xsmall">Laptop</div><a class="uk-link-heading uk-text-small" href="product.html">Apple MacBook Pro 15" Touch Bar MPTU2LL/A 256GB (Silver)</a>
                        <div class="uk-margin-xsmall uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                          <div class="uk-text-bolder uk-text-small uk-first-column">$1599.00</div>
                          <div class="uk-text-meta uk-text-xsmall">1 × $1599.00</div>
                        </div>
                      </div>
                      <div><a class="uk-icon-link uk-text-danger uk-invisible-hover uk-icon" href="#" uk-icon="icon: close; ratio: .75" uk-tooltip="Remove" title="" aria-expanded="false"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="close"><path fill="none" stroke="#000" stroke-width="1.06" d="M16,16 L4,4"></path><path fill="none" stroke="#000" stroke-width="1.06" d="M16,4 L4,16"></path></svg></a></div>
                    </div>
                  </arttcle>
                </li>
                <li class="uk-visible-toggle">
                  <arttcle>
                    <div class="uk-grid-small uk-grid" uk-grid="">
                      <div class="uk-width-1-4 uk-first-column">
                        <div class="tm-ratio tm-ratio-4-3"><a class="tm-media-box" href="product.html">
                            <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Apple MacBook 12&quot; MNYN2LL/A 512GB (Rose Gold)">
                            </figure></a></div>
                      </div>
                      <div class="uk-width-expand">
                        <div class="uk-text-meta uk-text-xsmall">Laptop</div><a class="uk-link-heading uk-text-small" href="product.html">Apple MacBook 12" MNYN2LL/A 512GB (Rose Gold)</a>
                        <div class="uk-margin-xsmall uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                          <div class="uk-text-bolder uk-text-small uk-first-column">$1549.00</div>
                          <div class="uk-text-meta uk-text-xsmall">1 × $1549.00</div>
                        </div>
                      </div>
                      <div><a class="uk-icon-link uk-text-danger uk-invisible-hover uk-icon" href="#" uk-icon="icon: close; ratio: .75" uk-tooltip="Remove" title="" aria-expanded="false"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="close"><path fill="none" stroke="#000" stroke-width="1.06" d="M16,16 L4,4"></path><path fill="none" stroke="#000" stroke-width="1.06" d="M16,4 L4,16"></path></svg></a></div>
                    </div>
                  </arttcle>
                </li>
              </ul>
            </div>
            <footer class="uk-card-footer">
              <div class="uk-grid-small uk-grid" uk-grid="">
                <div class="uk-width-expand uk-text-muted uk-h4 uk-first-column">Subtotal</div>
                <div class="uk-h4 uk-text-bolder">$3148.00</div>
              </div>
              <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-margin-small uk-grid" uk-grid="">
                <div class="uk-first-column"><a class="uk-button uk-button-default uk-margin-small uk-width-1-1" href="cart.html">view cart</a></div>
                <div><a class="uk-button uk-button-primary uk-margin-small uk-width-1-1" href="checkout.html">checkout</a></div>
              </div>
            </footer>
          </div>
        </aside>
      </div>

    {% comment %} {% render 'cart-popup' %} {% endcomment %}
    

    {% comment %} <script src="{{ 'shopify-money.js' | asset_url }}" defer="defer"></script>

    {% if content_for_layout contains 'webite-section-hero' %}
      {% unless content_for_layout contains 'section-hero.css' %}
        {{ 'section-hero.css' | asset_url | stylesheet_tag }}
      {% endunless %}
    {% endif  %}
    {% if content_for_layout contains 'webite-section-main-product' %}
      {% unless content_for_layout contains 'main-product.css' %}
        {{ 'main-product.css' | asset_url | stylesheet_tag }}
      {% endunless %}
    {% endif  %} {% endcomment %}
    {% comment %} {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }} {% endcomment %}
    {% comment %} <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script> {% endcomment %}
    {% comment %} <script src="{{ 'swiffy-slider.min.js' | asset_url }}" defer="defer"></script>
    {{ 'swiffy-slider.min.css' | asset_url | stylesheet_tag: preload: boolean }} {% endcomment %}
    

  <script>
  //after page loads create script and add src dynamically
    document.addEventListener("DOMContentLoaded", function() {
      let scriptLoaded = false;
      const events = [
      "click", "scroll", "touchmove", "touchstart", 
      "touchend", "touchforcechange", "mousemove", "keydown"
      ];

      function loadScript() {
        if (!scriptLoaded) {
          const customScript = document.createElement('script');
          customScript.src = "{{ 'uikit.min.js' | asset_url | replace :'/', '\/' }}";
          document.head.appendChild(customScript);

          // const swiperScript = document.createElement('script');
          // swiperScript.src = "{{ 'swiper-bundle.min.js' | asset_url | replace :'/', '\/' }}";
          // swiperScript.onload = function() {
          //   // Initialize Swiper after the script is loaded
          //   var swiper = new Swiper(".mySwiper", {
          //     slidesPerView: 1,
          //     loop: true,
          //     pagination: {
          //       el: ".swiper-pagination",
          //       clickable: true,
          //     },
          //     navigation: {
          //       nextEl: ".swiper-button-next",
          //       prevEl: ".swiper-button-prev",
          //     },
          //     breakpoints: {
          //       768: {
          //     slidesPerView: 2,
          //       },
          //       992: {
          //     slidesPerView: 3,
          //       },
          //       1200: {
          //     slidesPerView: 4,
          //       },
          //     },
          //   });
          // };
          // document.head.appendChild(swiperScript);

          scriptLoaded = true;
          events.forEach(event => document.removeEventListener(event, loadScript));
        }
      }
      events.forEach(event => document.addEventListener(event, loadScript));  
    
    // function humanInteraction() {
    //     if (!scriptLoaded) {
    //         let customScript = document.createElement('script');
    //         customScript.src = '\/\/spore-dev.myshopify.com\/cdn\/shop\/t\/16\/assets\/uikit.min.js';
    //         document.head.appendChild(customScript);
    //         scriptLoaded = true;
    //         clearTimeout(interactionTimeout);
    //     }
    //   }

    // document.addEventListener("click", humanInteraction);
    // document.addEventListener("scroll", humanInteraction);
    // document.addEventListener("touchmove", humanInteraction);
    // document.addEventListener("touchstart", humanInteraction);
    // document.addEventListener("touchend", humanInteraction);
    // document.addEventListener("touchforcechange", humanInteraction);
    // document.addEventListener("mousemove", humanInteraction);
    // document.addEventListener("keydown", humanInteraction);

      // Initialize Swiper
      // var swiper = new Swiper(".mySwiper", {
      //   slidesPerView: 1,
      //   pagination: {
      //     el: ".swiper-pagination",
      //     clickable: true,
      //   },
      //   navigation: {
      //     nextEl: ".swiper-button-next",
      //     prevEl: ".swiper-button-prev",
      //   },
      //   // Responsive breakpoints - these work with the CSS above
      //   breakpoints: {
      //     // Mobile first
      //     768: {
      //       slidesPerView: 2,
      //     },
      //     992: {
      //       slidesPerView: 3,
      //     },
      //     1200: {
      //       slidesPerView: 4,
      //     },
      //   },
      // });
    });
  </script> 

{% comment %}
    <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KT4R3BS4');</script> 
    <!-- End Google Tag Manager -->
    <script>
      (function() {
        var _heatmap_paq = window._heatmap_paq || [];
        var heatUrl = window.heatUrl = "https://dashboard.heatmap.com/";
        function heatLoader(url, item) {
          if(typeof handleSinglePagedWebsite !== 'undefined' && item == 'prep') return true;
          var s = document.createElement("script"); s.type = "text/javascript";
          s.src = url; s.async = false; s.defer = true; document.head.appendChild(s);
        }
        heatLoader(heatUrl+"preprocessor.min.js?sid=2818", "prep");
        setTimeout(function() {
          if(typeof _heatmap_paq !== "object" || _heatmap_paq.length == 0) {
            _heatmap_paq.push(["setTrackerUrl", heatUrl+"heatmap.php"]);
            heatLoader(heatUrl+"heatmap-light.min.js?sid=2818", "heat");
          }
        }, 1000);
      })();
       <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>

    </script>
    {% endcomment %}
    {% comment %} {{ 'uikit.min.js' | asset_url | script_tag }} {% endcomment %}
  </body>
</html>
