 <div id="cart-offcanvas" uk-offcanvas="overlay: true; flip: true" class="uk-offcanvas" style="">
    <aside class="uk-offcanvas-bar uk-padding-remove">
    <div class="uk-card uk-card-default uk-card-small uk-height-1-1 uk-flex uk-flex-column tm-shadow-remove" data-ajax-cart-section>
        <header class="uk-card-header uk-flex uk-flex-middle">
        <div class="uk-grid-small uk-flex-1 uk-grid" uk-grid="">
            <div class="uk-width-expand uk-first-column">
            <div class="uk-h3">Cart</div>
            </div>
            <button class="uk-offcanvas-close uk-close uk-icon" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
        </div>
        </header>
        <div class="uk-card-body uk-overflow-auto" data-ajax-cart-section-scroll>
        <ul class="uk-list uk-list-divider">
            {% for line_item in cart.items %}
                {% assign line_item_index = forloop.index %}    
                <li class="uk-visible-toggle">
                    <article>
                        <div class="uk-grid-small uk-grid" uk-grid="">
                        <div class="uk-width-1-4 uk-first-column">
                            <div class="tm-ratio tm-ratio-4-3">
                                <a class="tm-media-box" href="{{line_item.url}}">
                                    <figure class="tm-media-box-wrap">
                                      {{ line_item.image | image_url: width: 160 | image_tag: loading: 'lazy', sizes: '80px', widths: '80, 120, 160', alt: line_item.image.alt | default: line_item.product.title }}
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <a class="uk-link-heading uk-text-small" href="{{line_item.url}}">{{ line_item.product.title }}</a>
                            {% unless line_item.product.has_only_default_variant %}
                              <div class="uk-text-xsmall uk-text-muted">
                                {% for option in line_item.options_with_values %}
                                  {{ option.name }}: {{ option.value }}{% unless forloop.last %}, {% endunless %}
                                {% endfor %}
                              </div>
                            {% endunless %}
                            <div class="uk-margin-xsmall uk-text-bolder uk-text-small">{{ line_item.line_price | money }}</div>
                            <div class="uk-margin-xsmall">
                              <ajax-cart-quantity class="tm-quantity-wrapper">
                                <button type="button" class="tm-quantity-button" 
                                   data-ajax-cart-quantity-minus
                                   aria-label="Decrease quantity">−</button>
                                <input class="uk-input tm-quantity-input" 
                                       data-ajax-cart-quantity-input="{{ line_item_index }}"
                                       name="updates[]" 
                                       value="{{ line_item.quantity }}" 
                                       type="number"
                                       min="0"
                                       form="my-ajax-cart-form"
                                       aria-label="Quantity" />
                                <button type="button" class="tm-quantity-button" 
                                   data-ajax-cart-quantity-plus
                                   aria-label="Increase quantity">+</button>
                              </ajax-cart-quantity>
                            </div>
                        </div>
                        <div>
                            <a class="uk-icon-link uk-text-danger" 
                                data-ajax-cart-request-button
                                href="{{ line_item.url_to_remove }}" 
                                uk-tooltip="Remove" 
                                aria-label="Remove {{ line_item.product.title }}"><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><line fill="none" stroke="currentColor" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="currentColor" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></a>
                        </div>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
        </div>
        <!-- Item error messages -->
        <div data-ajax-cart-errors="{{ line_item.key }}"></div>
        <footer class="uk-card-footer">
        <div class="uk-grid-small uk-grid" uk-grid="">
            <div class="uk-width-expand uk-text-muted uk-h4 uk-first-column">Subtotal</div>
            <div class="uk-h4 uk-text-bolder">{{ cart.total_price | money }}</div>
        </div>
        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-margin-small uk-grid" uk-grid="">
            <div class="uk-first-column"><a class="uk-button uk-button-default uk-margin-small uk-width-1-1" href="cart.html">view cart</a></div>
            <div>
                {% form 'cart', cart, id: 'my-ajax-cart-form' %}
                <button type="submit" name="checkout" class="uk-button uk-button-primary uk-margin-small uk-width-1-1">
                Checkout
                </button> 
                {% endform %}    
            </div>
        </div>
        </footer>
    </div>
    </aside>
</div>

{% schema %}
{
  "name": "Side Cart",
  "class": "section-side-cart",
  "tag": "section",
  "settings": [

  ]
}
{% endschema %}
